.cart{
    margin-left: 10px;
    background-color:rgb(190, 223, 247);
    border: 3px solid rgb(105, 176, 243);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    
}
.cart:hover {background-color: #8ea1f5}
